<h1><%= @user.firstname %> <%= @user.lastname %><br> Task updated</h1>

<p>
<br><strong>Task Name: </strong> <%= @task.taskname %>
<br><strong>Duedate: </strong> <%= @task.duedate %>
<% if @task.status %>
<br><strong>Task status: </strong> Completed
<%else%>
<br><strong>Task status: </strong> pending
<%end%>
</p>